### VirtualEnv ###
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json

# Python
__pycache__

# PyInstaller
[Bb]uild
[Dd]ist
*.spec

# False positive
!Scripts/init*.ps1
!Scripts/run*.ps1
!Scripts/venv*.ps1
